@tailwind base;
@tailwind components;
@tailwind utilities;

model-viewer {
  --progress-bar-color: bg-blue-700;
}

body {
  margin: 0;
  padding: 0;
  place-items: center;
  max-width: 100vw;
  max-height: 100vh;
}
